@model string
@{
    ViewBag.Title = "BaseConversion";
}

<h2>BaseConversion</h2>
<div>
    <form action="~/First/BaseConversion" method="post">
        <p>
            Your Number:(will be converted into binary)
            <input name="startNumber" type="number" step="any" />
        </p>
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>