@model string
@{
    ViewBag.Title = "Unit Conversion";
}

<h2>UnitConversion</h2>
<div>
    <form action="~/UnitConversion/GramToOunce" method="post">
        Grams: <input name="Grams" type="number" step=".1" min="0" />
        <input name="Convert" type="submit" />
    </form>
</div>
<p>@Model</p>