@model string
@{
    ViewBag.Title = "HorsesToBlocks";
}
<h2>UnitConversion</h2>
<div>
    <form action="~/First/ConvertHorses" method="post">
        <input type="radio" name="type" value="Horses" checked /> Pounds <br />
        <input type="radio" name="type" value="Blocks" /> Kilos <br />
        <input type="number" name="number" step="any" />
        <input type="submit" name="submit" />
    </form>
    <p>@Model</p>
</div>