@model string
@{
    ViewBag.Title = "HorseToBlocks";
}
<h2>UnitConversion</h2>
<div>
    <form action="~/First/ConvertHorses" method="post">
        <p>What are you converting from?</p>
        <input type="radio" name="type" value="Horses" checked /> Horses <br />
        <input type="radio" name="type" value="Blocks" /> Blocks <br />
        <input type="number" name="number" step="any" />
        <input type="submit" name="submit" />
    </form>
    <p>@Model</p>
</div>